body {
    padding: 0;
    background: url('../images/bg.png');
    font-family: Calibri;
}

.container {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 20%;
    right: 0;
}

.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 330px;
    background: white;
    -webkit-box-shadow: 10px 10px 18px -9px rgba(3,3,3,1);
    -moz-box-shadow: 10px 10px 18px -9px rgba(3,3,3,1);
    box-shadow: 10px 10px 18px -9px rgba(3,3,3,1);
}

    .login:before {
        content: '';
        position: absolute;
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        z-index: -1;
        background: rgba(0, 0, 0, 0.08);
        border-radius: 1px;
    }

    .login h1 {
        margin: -20px -20px 21px;
        line-height: 40px;
        font-size: 18px;
        color: Silver;
        text-align: center;
        background: #45484d; /* Old browsers */
        background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */ /* Chrome,Safari4+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
        background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
        background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        position: relative;
        -webkit-box-shadow: 0 1px whitesmoke;
        box-shadow: 0 1px whitesmoke;
    }

input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

.login-text {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

    .login-text:focus {
        border-color: #7dc9e2;
        outline-color: #dceefc;
        outline-offset: 0;
    }

.input-field {
    height: 22px;
    border: 1px solid #A5ACB2;
    font-size: 11px;
    padding: 2px;
    outline: none;
    width: 200px;
    font-family: Verdana;
}

.main {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    z-index: 10;
    box-shadow: 2px 2px 5px #888888;
}

.header {
    min-height: 150px;
    background-color: white;
    position: relative;
}

.slide {
    min-height: 120px;
}

.page-body {
    min-height: 300px;
}

.footer {
    min-height: 150px;
    background-color: #3a3d41;
    position: relative;
}

.header-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    width: 35%;
}

.footer-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    width: 35%;
}

.profile-name {
    min-height: 20px;
}

.profile-image {
    padding: 10px;
    height: 150px;
    width: 120px;
    overflow: hidden;
}

.button-styles {
    border: 1px solid #052c76;
    min-width: 100px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: #052c76;
}

.right-center {
    position: relative;
    min-width: 50%;
    float: right;
    text-align: right;
    margin-top: 5%;
    padding: 20px;
}

.table-style {
    margin: 0 auto;
    display: table-cell;
    width: 100%;
}

td {
    width: 120px;
    height: 40px;
}

.td-small {
    width: 10px;
}

.left-div-style {
    float: left;
    width: 25%;
}

.icon-style {
    width: 40%;
    height: 40%;
}

.grid-image {
    width: 40%;
    height: 150%;
    padding: 5px;
}

.image-styles {
    width: 180px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.labs-logo {
    width: 200px;
    height: 250px;
}

.refresh-btn {
    border-width: 0px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.profile-avatar img {
    width: 110px;
    height: 110px;
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.social{
    text-decoration: none;
}

.social a{
    text-decoration: none;
}

.profile-avatar img a:hover {
    z-index: 900;
    background:rgba(255, 255, 255, 0.2);
}